doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://use.typekit.net/lcl3udl.css')
    link(rel='icon' type='image/png' href='/images/CB_Icon.png')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')

    link(rel='stylesheet' href='https://unpkg.com/tachyons/css/tachyons.min.css')
    meta(property='og:title' content='Chorizo Burrito WRAPPED 2020')
    meta(name='description' content='Chorizo Burrito is a webpage inspired by publicannouncement.org')
    meta(property='og:url' content='https://chorizoburrito.org/2020')
    meta(property='og:image' content='http://www.chorizoburrito.org/images/preview2020.png')
    meta(property='og:description' content='Chorizo Burrito is a webpage inspired by publicannouncement.org')
    meta(property='og:type' content='website')
    meta(name='twitter:title' content='Chorizo Burrito')
    meta(name='twitter:site' content='https://chorizoburrito.org')
    meta(name='twitter:image' content='http://www.chorizoburrito.org/images/preview2020.png')

    script(src='https://code.jquery.com/jquery-3.4.1.js')
    script(src='')
    script(type='text/javascript' src='https://makerbadge.s3.amazonaws.com/blmbadge.js')
    script(src='https://www.googletagmanager.com/gtag/js?id=UA-165303040-2')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-165303040-2');
    body
      .mw9.center
        canvas#myCanvas
        img.dn#img(src='/images/burrito.png')
        img.dn#tom(src='/images/tommyProfile.jpg')
        img.dn#ben(src='/images/benProfile.jpg')
        img.dn#genie(src='/images/genieProfile.jpg')
        img.dn#brandon(src='/images/brandonProfile.jpg')

        article
          .vh-100.dt.center
            h1.f1.f-headline-l.w-80.w-80-l.dtc.v-mid.center.tc Chorizo Burrito
              br
              | WRAPPED
              br
              span.f-mega.w-100.w-100-l 2020

          .vh-100.dt.center
            .center.dtc.v-mid
              p.tc.f1.f-headline-l Each of our top 5 songs of 2020
              a.tc(href='https://open.spotify.com/playlist/51e0yG8pU0mfcL55I7R54U?si=fojHid0BSY6Tayu1qf8XwQ')
                p.tc.center.w-100.f4.f6-l LINK
          .cf
            p.pa2.f4.f5-l Ben
            .fl.album.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/4chSRXrdadYm2ujaCyP3Cf?si=jCXbUJzMS4Seq3q36nq0vQ')
                img.w-100.db(src='/images/2020/1.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 Super Stars
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 Yves Tumor
            .fl.album.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/4PwWESSlTwzvw9B7bmtTLS?si=eNLkefN9S3yNE1B5HI8bKw')
                img.w-100.db(src='/images/2020/2.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 anything
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 Adrienne Lenker
            .fl.album.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/1aOxOpH4AkGAd8OMrKjyNY?si=9SORVdxwQFqeIwYk8qZgSA')
                img.w-100.db(src='/images/2020/3.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 Why Are Sundays So Depressing
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 The Strokes
            .fl.album.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/5OkYfk72CNL8XLqa3gp9q7?si=_YuU8TtkQKOB_pN8GmkPSQ')
                img.w-100.db(src='/images/2020/4.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 Something to Rap About (feat. Tyler, the Creator)
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 Freddie Gibbs
            .fl.album.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/6b3i6FDLfhuB3OB8zeANrH?si=gg-s5LWsQjerF5wYXx_t4g')
                img.w-100.db(src='/images/2020/5.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 Outer Space Bih
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 Future
            p.pa2.f4.f5-l Brandon
            .fl.album.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/0VjIjW4GlUZAMYd2vXMi3b?si=OvUKFa6FSNq4nvKTzEsKpw')
                img.w-100.db(src='/images/2020/6.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 Blinding Lights
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 The Weeknd
            .fl.w-100.w-20-l.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/4keclC0eBhQm8lFtYmX01K?si=3nz8f_C0SEKWL7-jRvmnNg')
                img.w-100.db(src='/images/2020/7.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 4ÆM
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 Grimes
            .fl.w-100.w-20-l.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/5UusfWUMMLEXLMc1ViNZoe?si=ousTOft8R4-54n3I6WO40Q')
                img.w-100.db(src='/images/2020/8.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 @ MEH
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 Playboi Carti
            .fl.w-100.w-20-l.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/4HDCLYli2SUdkq9OjmvhSD?si=fdX8U8hDSaChyI75d8RVSQ')
                img.w-100.db(src='/images/2020/9.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 BELIEVE IT
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 PARTNEXTDOOR (feat. Rihanna)
            .fl.w-100.w-20-l.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/2T93MtJuKMzcGRTR8fdizV?si=hN0SVOnpQqCYy1e4oHP5FA')
                img.w-100.db(src='/images/2020/10.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 ringtone (remix)
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 100 gecs [feat. Charli XCX, Rico Nasty, Kero Kero Bonito]
            p.pa2.f4.f5-l Genie
            .fl.w-100.w-20-l.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/4Tzw9IdZbVyzmpWrvsGaNX?si=Lc7nubKFSQSjKtU8Uf2H8A')
                img.w-100.db(src='/images/2020/11.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 Wildfires
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 SAULT
            .fl.w-100.w-20-l.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/3X7wVYr4XpzGgoXmQVnrJo?si=Z60VYDxuRa--e4Xdc_6Apg')
                img.w-100.db(src='/images/2020/12.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 Give It Up 2 Me
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 Ojerime
            .fl.w-100.w-20-l.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/47s5hKfwGXliAAB8wKMiNo?si=18p0vP-OQM6rkriism9qew')
                img.w-100.db(src='/images/2020/13.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 When I'm in Your Arms
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 Cleo Soul
            .fl.w-100.w-20-l.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/35Dh5MnCUPLN3XyAVtQff3?si=lnx85srGR3GWy5YuVsuB5Q')
                img.w-100.db(src='/images/2020/14.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 Do It
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 Chloe x Halle
            .fl.w-100.w-20-l.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/6qFbd0y93wtnLFQM0d4v96?si=PdHKB0gZQMyx9md9db2a8g')
                img.w-100.db(src='/images/2020/15.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 WAKING UP DOWN
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 Yaeji
            p.pa2.f4.f5-l Tommy
            .fl.w-100.w-20-l.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/4rpyJ4FCTawHW4ItDlpoka?si=cckDYh4_Q72kI31HB_uoVg')
                img.w-100.db(src='/images/2020/16.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 On the Floor
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 Perfume Genius
            .fl.w-100.w-20-l.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/2drtd6SptpMJ1KylMQ7mrE?si=nll9YwucQWGoxzXUfP00yw')
                img.w-100.db(src='/images/2020/17.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 circle the drain
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 Soccer Mommy
            .fl.w-100.w-20-l.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/092rfWVlz3tFzGRIOlofm2?si=cRox-EHzTqm6W8s83HdQYA')
                img.w-100.db(src='/images/2020/18.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 Sum Bout U (feat. FKA Twigs)
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 645AR
            .fl.w-100.w-20-l.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/2iipFwAqp6CsCQMWlmiBMj?si=ImDOLM46TEOy8gn2XRKWpg')
                img.w-100.db(src='/images/2020/19.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 Leaning On You
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 HAIM
            .fl.w-100.w-20-l.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/1imMjt1YGNebtrtTAprKV7?si=lR2eYp2RQR6EIHYSuU3qaw')
                img.w-100.db(src='/images/2020/20.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 Love Again
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 Dua Lipa
        .vh-100.dt.center
            .center.dtc.v-mid
              a(href='/')
                img.tc.center.w3.f6(src='images/burrito.png')
    script(src='/scripts/bounce.js')