doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://use.typekit.net/lcl3udl.css')
    link(rel='icon' type='image/png' href='/images/CB_Icon.png')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')

    link(rel='stylesheet' href='https://unpkg.com/tachyons/css/tachyons.min.css')
    meta(property='og:title' content='Chorizo Burrito WRAPPED 2020')
    meta(name='description' content='Chorizo Burrito is a webpage inspired by publicannouncement.org')
    meta(property='og:url' content='https://chorizoburrito.org/2020')
    meta(property='og:image' content='http://www.chorizoburrito.org/images/preview2020.png')
    meta(property='og:description' content='Chorizo Burrito is a webpage inspired by publicannouncement.org')
    meta(property='og:type' content='website')
    meta(name='twitter:title' content='Chorizo Burrito')
    meta(name='twitter:site' content='https://chorizoburrito.org')
    meta(name='twitter:image' content='http://www.chorizoburrito.org/images/preview2020.png')

    script(src='https://code.jquery.com/jquery-3.4.1.js')
    script(src='')
    script(type='text/javascript' src='https://makerbadge.s3.amazonaws.com/blmbadge.js')
    script(src='https://www.googletagmanager.com/gtag/js?id=UA-165303040-2')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-165303040-2');
    body
      .mw9.center
        //- canvas#myCanvas
        //- img.dn#img(src='/images/burrito.png')
        //- img.dn#tom(src='/images/tommyProfile.jpg')
        //- img.dn#ben(src='/images/benProfile.jpg')
        //- img.dn#genie(src='/images/genieProfile.jpg')
        //- img.dn#brandon(src='/images/brandonProfile.jpg')

        article
          .vh-100.dt.center.flex.flex-column.justify-between.align-center
            h1.f1.f-headline.w-100.w-100-l.dtc.v-mid.center.tc CHORIZO BURRITO WRAPPED
            span.f-mega.w-100.w-100-l.tc 2021

          .vh-100.dt.center
            .center.dtc.v-mid
              p.tc.f1.f-headline-l Each of our top 5 songs from 2021
              a.tc(href='https://open.spotify.com/playlist/011HeBSSnYKvPeKLVXUNt6?si=e455164a4ec148db')
                p.tc.center.w-100.f4.f6-l LINK
          .cf
            p.pa2.f4.f5-l Ben
            .fl.album.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/4s7QLoImIwmPi9L6dq1nVW?si=509c6ec8b2fc4c21')
                img.w-100.db(src='/images/2021/1.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 TSU
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 Drake
            .fl.album.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/1wjDFBUOMuZKm1eJ8GzRBX?si=34b841eca810426e')
                img.w-100.db(src='/images/2021/2.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 IN YOUR EYES
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 Snoh Aalegra
            .fl.album.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/4fyklTEI49emJVhsgUxl6g?si=77155c7fb2714abf')
                img.w-100.db(src='/images/2021/3.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 Beside April
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 BADBADNOTGOOD
            .fl.album.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/4leIYZId3PKc3FWJztmjKz?si=53eb93fa38a04913')
                img.w-100.db(src='/images/2021/4.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 Off You 
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 Big Thief
            .fl.album.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/3q8Uyfo98yoEqByamJOIkJ?si=2cf3baeaa45e455b')
                img.w-100.db(src='/images/2021/5.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 Droppin Jewels
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 Young Thug
            p.pa2.f4.f5-l Brandon
            .fl.album.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/4UeWKazLR1ZwwSVnLw9Ir9?si=eb526f9912e04323')
                img.w-100.db(src='/images/2021/6.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 踊り子 
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 Vaundy
            .fl.w-100.w-20-l.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/5iXnD2VizcAbErpkcuNQ6I?si=9c1926236fce4b7b')
                img.w-100.db(src='/images/2021/7.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 Mystery
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 Turnstile
            .fl.w-100.w-20-l.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/1QL7nSDZCwZMnbisV4KOXt?si=03c9e2ed5db246d4')
                img.w-100.db(src='/images/2021/8.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 t r a n s p a r e n t s o u l
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 WILLOW (feat. Travis Barker)
            .fl.w-100.w-20-l.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/7zjEyeBsaw9gV0jofJLfOM?si=67bed0995e8343ba')
                img.w-100.db(src='/images/2021/9.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 Livin It Up 
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 Young Thug (feat. Post Malone & A$AP Rocky)
            .fl.w-100.w-20-l.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/6snYsavG9vq3C7RGN98dst?si=ce4666c06c784fb0')
                img.w-100.db(src='/images/2021/10.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 Gang Signs
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 Freddie Gibbs (feat. ScHoolboy Q)
            p.pa2.f4.f5-l Genie
            .fl.w-100.w-20-l.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/748mdHapucXQri7IAO8yFK?si=5391d571ff544384')
                img.w-100.db(src='/images/2021/11.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 Kiss Me More
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 Doja Cat (feat. SZA)
            .fl.w-100.w-20-l.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/3Bb6SjhcywQ4euKYT2jxmp?si=864b412d233e4330')
                img.w-100.db(src='/images/2021/12.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 Nabi
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 Peggy Gou
            .fl.w-100.w-20-l.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/4EoZiih7SmUSDyIw8y011F?si=cd2360383f304aaa')
                img.w-100.db(src='/images/2021/13.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 Unlock It
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 ABRA (feat. Playboi Carti)
            .fl.w-100.w-20-l.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/7CIERzyqIwLVKGp00YbHRO?si=d4d49539648c4e63')
                img.w-100.db(src='/images/2021/14.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 Pain 
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 Pink Pantheress
            .fl.w-100.w-20-l.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/2avbMHWObD8usXMBmN4U62?si=b5f4522537d942e6')
                img.w-100.db(src='/images/2021/15.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 Be Sweet
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 Japanese Breakfast
            p.pa2.f4.f5-l Tommy
            .fl.w-100.w-20-l.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/5wNVNjLNMX0jhefWFOqgT2?si=dbcc00e9ff444616')
                img.w-100.db(src='/images/2021/16.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 Larabar
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 Wet
            .fl.w-100.w-20-l.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/2TJDEIb71icDq3v0LXEGib?si=c5706c5dd5fc418f')
                img.w-100.db(src='/images/2021/17.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 Like I Used To
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 Sharon Van Etten, Angel Olsen
            .fl.w-100.w-20-l.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/1rYABrDmfqVmJMwaNJBUUb?si=b99c3da8d3c6415a')
                img.w-100.db(src='/images/2021/18.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 Bunny Is A Rider
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 Caroline Polachek
            .fl.w-100.w-20-l.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/2ETKPBTsSofRyxij1s8GA2?si=4bbf0f5afb63470a')
                img.w-100.db(src='/images/2021/19.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 FACETIME
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 454
            .fl.w-100.w-20-l.pa2
              a.db.link.dim.tc(href='https://open.spotify.com/track/56D251hqnHtPSgwSH5a0fl?si=93053ada66514e9a')
                img.w-100.db(src='/images/2021/20.jpg' alt='')
                dl.mt2.f6.lh-copy
                  dt.clip Title
                    dd.ml0.black.truncate.w-100 Spinning
                    dt.clip Artist
                    dd.ml0.gray.truncate.w-100 No Rome (feat. Charli XCX, The 1975)
        .vh-100.dt.center
            .center.dtc.v-mid
              a(href='/2020')
                p Top Songs 2020
    //- script(src='/modules/three.js' type='module')
    script(src='/modules/3dBurrito.js' type='module')