extends layout

block content
  .mw8.center.pt5.bt.mt5
    .cf
      .fl.w-60.pr5
        img(src='/images/CB_2.jpg')
        p.f3-ns Chorizo Burrito is a blog, moodboard, and webpage inspired by 
          a(href="http://publicannouncement.org") publicannouncement.org
      .fl.w-40
        p.f3.f2-l.tl.bb.mt0 Contributors
        article.mv3.about-card.pb3
          .tl
            a(href="https://twitter.com/bensiordia")
              img.h4.w4.dib(src='/images/benProfile.jpg' title='')
            h1.f3 Benjamin Siordia
          p.lh-copy.f5
            | T-shirts, PRIME playlists, and Larry David memes.
        article.mv3.about-card.pb3
          .tl
            a(href="http://g3ni3.com")
              img.h4.w4.dib(src='/images/genieProfile.jpg' title='')
            h1.f3 Genie Hong 
          p.lh-copy.f5
            | Genie Hong is an artist, book maker, photographer, illustrator, and quilter based in Los Angeles and Chicago.
        article.mv3.about-card.pb3
          .tl
            a(href="http://tommysrealm.com")
              img.h4.w4.dib(src='/images/tommyProfile.jpg' title='Photo of Tommy')
            h1.f3 Tommy Tran
          p.lh-copy.f5
            | Core developer of chorizoburrito.org. Does web development/design.
        article.mv3.about-card.pb3
          .tl
            a(href="https://blamdesigned.com/")
              img.h4.w4.dib(src='/images/brandonProfile.jpg' title='Photo of Tommy')
            h1.f3 Brandon Lam
          p.lh-copy.f5
            | Product Designer. Not on Twitter.
