extends layout

block content
  h3.tc.center Contributors
  .flex.justify-center
    article.mw5.bg-white.br3.pa3.pa4-ns.mv3.mr3.ba.b--black-10.about-card
      .tc
        img.br-100.h3.w3.dib(src='/images/tommyProfile.jpg' title='Photo of Tommy')
        h1.f4 Tommy Tran
        hr.mw3.bb.bw1.b--black-10
      p.lh-copy.measure.center.f6.black-70
        | Core developer of chorizoburrito.org. Does web development/design for fun.
    article.mw5.bg-white.br3.pa3.pa4-ns.mv3.mr3.ba.b--black-10.about-card
      .tc
        img.br-100.h3.w3.dib(src='http://tachyons.io/img/avatar_1.jpg' title='Photo of a kitty staring at you')
        h1.f4 Genie Hong 
        hr.mw3.bb.bw1.b--black-10
      p.lh-copy.measure.center.f6.black-70
        | Quite affectionate and outgoing.
        | She loves to get chin scratches and will
        | roll around on the floor waiting for you give her more of them.
    article.mw5.bg-white.br3.pa3.pa4-ns.mv3.mr3.ba.b--black-10.about-card
      .tc
        img.br-100.h3.w3.dib(src='http://tachyons.io/img/avatar_1.jpg' title='Photo of a kitty staring at you')
        h1.f4 Benjamin Siordia
        hr.mw3.bb.bw1.b--black-10
      p.lh-copy.measure.center.f6.black-70
        | Quite affectionate and outgoing.
        | She loves to get chin scratches and will
        | roll around on the floor waiting for you give her more of them.