extends layout

block content
  .mw8.center.pt5.bt.mt5
    .cf
      .fl.w-60.pr5
        img(src='/images/CB_2.jpg')
        p.f3-ns Chorizo Burrito is a webpage inspired by 
          a.gray(href="http://publicannouncement.org") publicannouncement.org
      .fl.w-40
        p.f3.f2-l.tl.bb.mt0 Contributors
        article.dt.w-100.bb.b--black-05.pv2
            .dtc.w4.pt1
              img.h4.w4(src='/images/benProfile.jpg')
            .dtc.pl3.v-top
              h1.f5.f4-l.fw6.lh-title.black.mv0 Benjamin Siordia
              h2.f6.fw4.mt0.mb0.black-60 
                a(href='http://twitter.com/bensiordia') @bensiordia
              p.lh-copy.f5
                | T-shirts, PRIME playlists, and Larry David memes.
              p.f7 
                a(href='https://twitter.com/bensiordia').gray twitter.com/bensiordia 
        article.dt.w-100.bb.b--black-05.pv2
            .dtc.w4.pt1
              img.h4.w4(src='/images/genieProfile.jpg')
            .dtc.pl3.v-top
              h1.f5.f4-l.fw6.lh-title.black.mv0 Genie Hong
              h2.f6.fw4.mt0.mb0.black-60 
                a(href='http://twitter.com/g3ni3') @g3ni3
              p.lh-copy.f5
                | Genie Hong is an artist, book maker, photographer, illustrator, and quilter based in Los Angeles and Chicago.
              p.f7 
                a(href='http://g3ni3.com').gray g3ni3.com 
        article.dt.w-100.bb.b--black-05.pv2
            .dtc.w4.pt1
              img.h4.w4(src='/images/tommyProfile.jpg')
            .dtc.pl3.v-top
              h1.f5.f4-l.fw6.lh-title.black.mv0 Tommy Tran
              h2.f6.fw4.mt0.mb0.black-60 
                a(href='http://twitter.com/tmytrn') @tmytrn
              p.lh-copy.f5
                | Core developer of chorizoburrito.org. Does web development/design.
              p.f7 
                a(href='http://tmytrn.com').gray tmytrn.com 
        article.dt.w-100.bb.b--black-05.pv2
            .dtc.w4.pt1
              img.h4.w4(src='/images/brandonProfile.jpg')
            .dtc.pl3.v-top
              h1.f5.f4-l.fw6.lh-title.black.mv0 Brandon Lam
              h2.f6.fw4.mt0.mb0.black-60
                a(href='https://www.instagram.com/bodybanger5hunnit/') @bodybanger5hunnit
              h2.f6.fw4.mt0.mb0.black-60 
              p.lh-copy.f5
                | Product Designer. Founder of Rosemead Barbell. Not on Twitter.
              p.f7 
                a(href='https://blamdesigned.com').gray blamdesigned.com 