doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://use.typekit.net/lcl3udl.css')

    link(rel='stylesheet' href='https://unpkg.com/tachyons/css/tachyons.min.css')
    meta(property='og:title' content='Chorizo Burrito')
    meta(name='description' content='Chorizo Burrito is a blog, moodboard, and webpage inspired by publicannouncement.org')
    meta(property='og:url' content='https://chorizoburrito.org')
    meta(property='og:image' content='http://www.chorizoburrito.org/images/CB_2.jpg')
    meta(property='og:description' content='Chorizo Burrito is a blog, moodboard, and webpage inspired by publicannouncement.org')
    meta(property='og:type' content='website')
    meta(name='twitter:title' content='Chorizo Burrito')
    meta(name='twitter:site' content='https://chorizoburrito.org')
    meta(name='twitter:image' content='http://www.chorizoburrito.org/images/CB_2.jpg')

    script(src='https://code.jquery.com/jquery-3.4.1.js')
    script(type='text/javascript' src='https://makerbadge.s3.amazonaws.com/blmbadge.js')
    script.
      BLMBadge.init({
      layout: 2,
      theme:'light',
      promoText : 'Send a donation to ReclaimTheBlock.org'+String.fromCodePoint(0x2192),
      promoLink : 'https://www.reclaimtheblock.org/home/',
      message : 'To be silent is to be complicit. Black lives matter.',
      title : '#BlackLivesMatter'
      })
  body
    nav.center.mw8.border-box
      a.fl.link.dim.f2.f1-l.w-60.w-50-l(href='/' title='Home')= title
      .fr.tr.w-40.w-50-l.v-btm.mt3.mt4-l
        a.link.dim.f6.f5-ns.dib.mr2.mr3-l(href='/' title='Home') Home
        a.link.dim.f6.f5-ns.dib.mr2.mr3-l(href='http://shop.chorizoburrito.org' title='Store') Store
        a.link.dim.f6.f5-ns.dib.mr1-l(href='/about' title='About') About
    block content
